
/* sets color and padding for unhovered drop down box for menu so it matches the colour theme of the pages */
.dropbtn {
  background-color: black;
  color: rgb(136, 123, 120);
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(55, 55, 50);
  color: black;
  ;
  bo
}

/* positions the drop down box */
.dropdown {
  position: relative;
  display: inline-block;
}


/* changes link colour when hovering */
.dropdown-content a:hover {background-color: #grey}

.show {display:block;}

/* allows for the contents of the drop down box to stay hidden when not in use */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* page links for java script */
.dropdown-content a {
  color: black;
  padding: 14px 18px;
  text-decoration: none;
  display: block;
}

/* allows for unique attributes for certain images */
img.s {height: 200px;}
img.d {float: right; height: 800px; margin-left: 30px;}

/* allows for unique attributes for certain paragraphs */
p.r {float: left; font-size: 30px;}
p.t {font-size: 30px;}
/* gives the footer padding, background color and text color */
footer{font-family:  monospace;
       padding-bottom: 3px;
       background: black;
       color: rgb(136, 123, 120);
       padding-left: 5px ;
       padding-top: 3px;}


/* sets the page color to create color scheme of the website */
body {background-color: rgb(136, 123, 120);
      padding: 25px;
      border-color: black}

/* the padding gives it space from the black background so they aren't touching and makes the title have the same fixed width with monospace */
h1 {font-family:  monospace;
   padding-left: 5px ;
   padding-bottom: 3px;
   padding-top: 3px;
   }

/* gives the header a black color, gives it theme of page as colour  */
header {background: black;
       color: rgb(136, 123, 120);}

/* makes the images appropriate size and gives it a black padding */
img {height: 400px;
    width: auto;
    padding: 5px;
    background-color: black;}
