

/* sets the page color to the color scheme of the film and gives the body a thin padding to make sure nothing touches th eedge of the body*/
body {background-color: rgb(237, 197, 11);
padding: 5px;}


/* gives the video padding to make it look seperated from the background */
video {padding: 3px}


/* makes the title have the same fixed width with monospace,
and the padding gives it space from the black background so they aren't touching*/
h1 {font-family:  monospace;
   padding-left: 6px ;
   padding-top: 3px;
   padding-bottom: 3px;}


/* gives the header a balck background and changes the text color to that of the yellow theme of the film */
header {background: black;
       color: rgb(237, 197, 11);}

/* makes the images appropriate size and gives it a black padding */
img {height: 300px;
    width: 220px;
    padding: 5px;
    background-color: black;}

/* makes the images on the cast page float to the left
to allow text and audio to go to the side of it instead of underneath */
img.img {float: left;}


/* gives padding to the cast names to put distance between itself and the image */
h2.c {padding-left: 240px;}

/* allows the text */
p.c {padding-left: 240px; width: 400px}

/* makes the text not take up the whole width of the page */
p.synopsis {width: 800px;}

/* allows for black background for the video to stand apart to the page body to make it visably identifiable as a video */
video {background-color: black;
      }


/* makes the audio controls not touch the images and gives it a gap */
audio{padding-left: 10px;}



/*this allows the buttons used in the menu to be a different color and with a different border and also changes its height*/

button{ width: 200px; height: 40px;
background-color: rgb(237,197,11);
border-width:  medium;
border-color: black;}



/* below is the code to stop the anchors changing color when used,
 and is used to make the link change color when hovered to show its an anchor */
a:link {color: black;}
a:visited{color: black;}
a:hover{color: white;}
a:active{color: black;}



/* this code removes the underline for the anchors and the padding allows
 the anchor to use up the majority of the space in the button */
a {text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 70px;
  padding-right: 70px;}



/* gives the footer the same padding, background color and text color as the header */
footer{font-family:  monospace;
       padding-left: 6px ;
       padding-top: 3px;
       padding-bottom: 3px;
       background: black;
       color: rgb(237, 197, 11);}
